<!DOCTYPE html>
<!-- Using ng-app directive to set the root element -->
<html data-ng-app="ExerciseApp">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="css/main.css" rel="stylesheet" />
    </head>
    <body>
      
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <h2>My Workout Log</h2>
      </div>
    </nav>
    <!-- Using the ng-controller directive to attach the MainController to the following DOM -->
    <div class="main" data-ng-controller="MainController">
        <div class="container">

       
  <!-- Use ng-repeat directive to create the following HTML structure for each item in 'exercises' -->
        <div class="row" ng-repeat='e in exercises'>
          <div class="exercise-icon col-xs-2"> </div>
            
          <div class="col-xs-6">
            <p class="exercise-name">{{e.name}} </p>
          </div>
          
          <div class="col-xs-4 counters">
              <!-- Use ng-click directive to call decrease and increase behaviors with the $index parameter to properly set the incremented/decremented count-->
            <span class="decrease"data-ng-click='decrease($index)'>-</span><span class="count">{{e.count}}  </span><span class="increase"data-ng-click='increase($index)'>+</span>
          </div>
        </div>
         

        </div>
    </div>
      
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>  
     
    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
    </body>
</html>
